node_modules
output
dist
.nuxt
.nitro
.output
.cache
.vite
coverage

.git
.gitignore
Dockerfile
docker-compose.yml

*.log
*.md
*.DS_Store
*.zip
*.tar
.idea
.vscode

public/dev-sw.js
public/sw.js.map
service-worker.js