@import "./reset.scss";
@import "./typography.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";
@import "./variables.scss";


html {
    font-family: Inter, Inter dev, sans-serif;
    color: #0E172E;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
}

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        font-size: 20px;
        font-weight: 600;
    }

    img {
        transform: rotate(180deg);
    }
}