@font-face {
    font-family: "Inter";
    src: url('/assets/fonts/Inter_18pt.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter dev";
    src: url('/src/shared/assets/fonts/Inter_18pt.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}